*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

html {
    font-size: 50px;
    background-color: black;
}

.container {
    width: 11rem;
    outline: 1px solid black;
    margin: 15vh auto;
    border: 1rem solid #1c1c1c;
    background-color: black;
    border-radius: 2rem;
}

.output {
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    border-radius: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .3rem;
}

.row {
    display: flex;
    gap: .1rem;
    justify-content: space-between;
}

#row-1 {
    gap: .3rem;
}

#row-5 {
    gap: .2rem;
}


.button {
    flex: 1 1 1;
    border-radius: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-yellow {
    background-color: #FF9500;
    color: white;
}

.btn-grey {
    background-color: #D4D4D2;
}

.btn-black {
    background-color: #505050;
    color: white;
}



.round {
    border-radius: 50%;
    aspect-ratio: 1;
}

.span-2 {
    flex: 2;
}

#AC {
    flex: 3;
}

